.hidden-xs
  %table.table.table-hover
    %tr.no-hover
      %th.col-pic.pl-0
        %span.in-grey-600= t("order_item.product")
      %th.col-title
      %th.col-price
        %span.in-grey-600= t("order_item.price")
      %th.col-quantity
        %span.in-grey-600= t("order_item.quantity")
      %th.col-total
        %span.in-grey-600= t("order_item.subtotal")
      %th.col-close
    
    .general-cart-item.divider-lg
      - order.order_items.each do |item|
        %tr
          %td
            .general-img-wrap-table
              - if with_show_link
                = link_to book_path(item.book) do
                  = image_tag(item.book.images.first.variant(resize: t('resize.small')), class: 'cart-img-shadow pull-left')
              - else
                = image_tag(item.book.images.first.variant(resize: t('resize.small')), class: 'cart-img-shadow pull-left')
          
          %td
            - if with_show_link
              = link_to book_path(item.book) do
                %p.title= item.book.title
            - else
              %p.title= item.book.title
          
          %td
            %span.font-16.in-gold-500= number_to_currency(item.price, unit: t('currency.euro'))
          %td
            .input-group
              - unless static
                - if item.quantity > 1
                  = link_to order_item_path(item, quantity: -1, book_id: item.book), method: :patch, class: "input-link", id: 'decrement' do
                    %i.fa.fa-minus.line-heaght-40
                - else
                  %a.input-link
                    %i.fa.fa-minus.line-heaght-40
                
                %input.form-control.quantity-input{type: "text", value: "#{item.quantity}", disabled: true}
                = link_to order_item_path(item, quantity: 1, book_id: item.book), method: :patch, class: "input-link", id: 'increment' do
                  %i.fa.fa-plus.line-heaght-40

              - else
                %input.form-control.quantity-input{type: "text", value: "#{item.quantity}", disabled: true}
          
          %td
            %span.font-16.in-gold-500= number_to_currency(item.subtotal, unit: t('currency.euro'))
          %td
            - unless static
              = link_to order_item_path(item), method: :delete, class: "close general-cart-close" do
                %span{'aria-hidden': "true"} &times;
