.visible-xs
  - order.order_items.each do |item|
    .general-cart-item.divider-lg-bottom
      %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
        %span{'aria-hidden': "true"} &times;
      .general-img-wrap-table
        - if with_show_link
          = link_to book_path(item.book) do
            = image_tag(item.book.images.first.variant(resize: t('resize.cover')), class: 'cart-img-shadow')
        - else
          = image_tag(item.book.images.first.variant(resize: t('resize.cover')), class: 'cart-img-shadow')
      
      - if with_show_link
        = link_to book_path(item.book) do
          %p.title= item.book.title
      - else
        %p.title= item.book.title
      
      %table.table
        %tr
          %td
            %span.in-grey-600= t("order_item.price")
          %td
            %span.font-16.in-gold-500= number_to_currency(item.price, unit: t('currency.euro'))
        %tr
          %td.vertical-middle
            %span.in-grey-600= t("order_item.quantity")
          %td
            .input-group
              - if item.quantity > 1
                = link_to order_item_path(item, quantity: -1, book_id: item.book), method: :patch, class: "input-link" do
                  %i.fa.fa-minus.line-heaght-40
              - else
                %a.input-link
                  %i.fa.fa-minus.line-heaght-40
              
              %input.form-control.quantity-input{type: "text", value: "#{item.quantity}", disabled: true}
              = link_to order_item_path(item, quantity: 1, book_id: item.book), method: :patch, class: "input-link" do
                %i.fa.fa-plus.line-heaght-40
        %tr
          %td
            %span.in-grey-600= t("order_item.subtotal")
          %td
            %span.font-16.in-gold-500= number_to_currency(item.subtotal, unit: t('currency.euro'))
