%main.container.general-main-wrap
  %h1.general-title-margin Cart
  
  = render 'items_mobile'
  
  = render 'items'

  .general-order-wrap
    .row
      .col-sm-4
        - unless current_order.coupon
          = render 'coupon_form'
        - else
          .input-group.general-input-group
            %label.input-label Enter Your Coupon Code
            %input.form-control.mb-30{type: "text", placeholder: "Only one coupon can be applied", disabled: true}
            %div
              %button.btn.btn-primary.mr-5.mb-15.disabled Apply Coupon

      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18 Order Summary
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16 Subtotal:
              %td
                %p.font-16= number_to_currency(current_order.decorate.subtotal, unit: '€')
            %tr
              %td
                %p.font-16 Coupon:
              %td
                - if current_order.coupon
                  %p.font-16= number_to_currency(current_order.coupon.calculate_in_fact_discount(current_order.decorate.subtotal), unit: '€')
                - else
                  %p.font-16 €0.00
            %tr
              %td
                %strong.font-18 Order Total:
              %td
                %strong.font-18= number_to_currency(current_order.decorate.total, unit: '€')
  .text-center
    = link_to 'Checkout', checkout_path(:address), role: "button", class: "btn btn-default mb-"
