.container.general-main-wrap.quick-reg
  .col-sm-6
    .text-center
      %h3.in-gold-500.mb-25= t('fast_auth.returning')

      = render 'devise/providers/facebook'

      %p.general-login-text= t('auth.or')

    .general-form
      = render 'devise/sessions/new_form'

  .col-sm-6
    .text-center
      %h3.in-gold-500.mb-25= t('fast_auth.new')

      = render 'devise/providers/facebook'

      %p.general-login-text.quick-reg-or= t('auth.or')

    .general-form
      %h3.in-grey-500= t('user.fast_auth.quick')
      %p.general-login-text= t('user.fast_auth.password_later')

      = form_with scope: :user, url: users_fast_create_path, local: true, id: 'fastCreate' do |f|
        .form-group.mb-30
          = f.label :user_email, t('form.labels.email'), class: 'control-label input-label'
          = f.email_field(:email,
                          autofocus: true,
                          autocomplete: 'email',
                          required: true,
                          class: 'form-control',
                          placeholder: t('form.placeholders.email'),
                          pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")
        .text-center
          = f.submit t('user.fast_auth.continue'), class: 'btn btn-default mb-20'
