%main.container.general-main-wrap
  = devise_error_messages!
  .text-center
    %h3.general-login-title Sign Up
    .general-login-icon
      = link_to customer_facebook_omniauth_authorize_path do
        %i.fa.fa-facebook-official
    %p.general-login-text Or
  .general-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group.mb-30
        %label.control-label.input-label{for: "user_email"} Email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      .form-group.mb-30
        %label.control-label.input-label{for: "user_password"} Password
        = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "Password", pattern: "^(?=.*[a-zA-Z])(?=.*[0-9]).{8,}$"
      .form-group.mb-30
        %label.control-label.input-label{for: "user_password_confirmation"} Password confirmation
        = f.password_field :password_confirmation, autocomplete: "password", class: "form-control", placeholder: "Confirm Password", pattern: "^(?=.*[a-zA-Z])(?=.*[0-9]).{8,}$"
      .text-center
        = f.submit 'Sign up', class: "btn btn-default mb-20"
  %p.general-sign-text.text-center
    Already have an account?
    = link_to 'Log in', new_customer_session_path, class: "in-gold-500"