-# === TODO: Email confirmation ===
%main.container.general-main-wrap
  .text-center
    = devise_error_messages!
  .text-center
    %h3.general-login-title= t("auth.sign_up")
    
    = render 'devise/providers/facebook'
    
    %p.general-login-text= t("auth.or")
  
  .general-form
    = form_with scope: :customer, url: registration_path(@customer), local: true do |f|
      .form-group.mb-30
        = f.label :customer_email, t("labels.email"), class: "control-label input-label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t("placeholders.email"), pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      .form-group.mb-30
        = f.label :customer_password, t("labels.password"), class: "control-label input-label"
        = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: t("placeholders.password"), pattern: "^(?=.*[a-zA-Z])(?=.*[0-9]).{8,}$"
      .form-group.mb-30
        = f.label :customer_password_confirmation, t("labels.password_confirmation"), class: "control-label input-label"
        = f.password_field :password_confirmation, autocomplete: "password", class: "form-control", placeholder: t("placeholders.confirm_password"), pattern: "^(?=.*[a-zA-Z])(?=.*[0-9]).{8,}$"
      .text-center
        = f.submit t("auth.sign_up"), class: "btn btn-default mb-20"
  
  %p.general-sign-text.text-center
    = t("auth.have_an_account")
    = link_to t("auth.log_in"), new_customer_session_path, class: "in-gold-500"
