%main.container.mb-res-50
  = render 'progress_bar'

  = simple_form_for current_order, url: wizard_path, method: :put do |form|
    %h3.general-subtitle= t("checkout.credit_card.title")
    .max-600.mb-80
      = form.simple_fields_for :credit_card, @credit_card_form do |f|
        = f.hidden_field :order_id, value: current_order.id
        .form-group
          = f.input :number, placeholder: t("form.placeholders.card_number"), class: "form-control"
        .row
          .col-sm-6
            .form-group
              = f.input :card_name, placeholder: t("form.placeholders.name_of_card"), class: "form-control"
          .col-sm-3
            .form-group
              = f.input :expiration_date, placeholder: t("form.placeholders.card_expiration"), class: "form-control"
          .col-sm-3
            .form-group.relative
              = f.input :cvv, placeholder: t("form.placeholders.cvv"), class: "form-control"
              %i.fa.fa-question-circle.general-form-help
                %span.cvv-hint= t("checkout.credit_card.hint")
  
    .general-text-align
      %p.in-gold-500.font-18= t("order.summary.summary")
      %table.general-summary-table
        = render 'shared/order_summary'
    
      = form.submit t("form.save_and_continue"), class: "btn btn-default center-block mb-20"
