= render 'devise/shared/error_messages'
%main.container.general-main-wrap.mt-100
  .text-center
    %h1.mb-30= t('user.password.forgot')
    %p.general-password-text= t('user.password.reset_info')

  .general-form
    = form_with(scope: resource_name, url: password_path(resource_name), local: true, html: { method: :post }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      .form-group.mb-25
        = f.email_field(:email,
                        autofocus: true,
                        autocomplete: 'email',
                        class: 'form-control',
                        required: true,
                        placeholder: t('form.placeholders.enter_email'),
                        pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')

      = f.submit t('user.password.reset_email'), class: 'btn btn-default mb-20 center-block'

      .text-center
        = link_to t('user.password.cancel'), new_user_session_path, class: 'in-gold-500 mb-2'
