%main.container
  = render 'latest'

.container
  .jumbotron.text-center.mb-0
    %h2.h1= t("welcome")
    .mb-res-50
      %p= t("description")
      = link_to t("get_started"), category_books_path(0), role: "button", class: "btn btn-default to-catalog"
  
  = render 'best_sellers'
