#privacy.tab-pane.fade{role: "tabpanel"}
  .row.mb-60
    .col-sm-5
      %p.in-gold-500.font-18.mb-25= t("labels.emal")
      = simple_form_for current_customer, url: settings_new_email_path, method: :put, class: "general-form-md" do |form|
        .form-group.mb-35
          = form.input :email,  placeholder: t("placeholders.enter_email"),  type: 'text', class: "form-control", id: "email"
        .general-text-align
          = form.submit t("form.save"), class: "btn btn-default mb-35"
   
    .col-sm-5.col-sm-offset-1
      %p.in-gold-500.font-18.mb-25= t("labels.password")
      = simple_form_for current_customer, url: settings_new_password_path, method: :put, class: "general-form-md" do |form|
        .form-group.mb-30
          = form.input :current_password,  placeholder: t("placeholders.current_password"),  type: 'text', class: "form-control", id: "current_password"
        .form-group.mb-30
          = form.input :new_password,  placeholder: t("placeholders.new_password"),  type: 'text', class: "form-control", id: "new_password"
        .form-group.mb-40
          = form.input :confirm_password,  placeholder: t("placeholders.confirm_password"),  type: 'text', class: "form-control", id: "confirm_password"
        .general-text-align
          = form.submit t("form.save"), class: "btn btn-default mb-10"
    
    .col-sm-12
      %p.in-gold-500.font-18.mb-25= t("remove_account.title")
      = simple_form_for current_customer, url: settings_destroy_account_path, method: :delete, class: "general-form-md" do |form|
        .general-settings-btn
          = form.submit t("remove_account.remove"), class: "btn btn-default mb-20", disabled: true, id: 'removeAccountBtn'
        .form-group.checkbox.general-settings-checkbox{onmousedown: "toggleRemoveAccountBtn();"}
          %label.checkbox-label
            = form.check_box :remove_account, { class: 'checkbox-input', hidden: 'true', id: 'remove_account' }, 'true', 'false'
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t("remove_account.confirmation")
