.mb-80
  - if @reviews
    %h3.in-gold-500.mb-25= "Reviews #{@reviews.size}"
    - @reviews.each do |review| 
      .general-message-wrap.divider-lg
        .clearfix
          %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.decorate.customer_initials
          .ml-70
            %div
              .general-message-date.hidden-xs= review.created_at
              .max-240
                - if review.verified
                  .general-message-verified.pull-right Verified Reviewer
                .general-message-name= review.decorate.customer_full_name
            .mb-15
              - review.rating.times do
                %i.fa.fa-star.rate-star
              - (5 - review.rating).times do
                %i.fa.fa-star.rate-empty  
            %p= review.body