%main.container
  %h1.general-title-margin= t("catalog")
  = render 'filter_sort_menu'

  = render 'sort_menu_mobile'
  
  .mb-120
    .row
      - @books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img
                = image_tag(book.decorate.cover, class: 'img-shadow general-thumbnail-img')
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to book_path(book, category_id: params[:category_id], current_sortings: params[:sort_by]), class: "thumb-hover-link" do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  = link_to order_items_path(book_id: book), method: :post, class: "thumb-hover-link" do
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title.book-title= book.title
            %p.font-16.in-gold-500= book.decorate.price_in_currency
            %span.divider-sm
            %p.lead.small.catalog-authors= book.decorate.format_authors
  
    .text-center
      = raw pagy_bootstrap_nav(@pagy)
