%main.container
  -# === TODO: Fix links ===
  - if params[:category_id] || params[:current_sortings]
    = link_to(category_books_path(params[:category_id], sort_by: params[:current_sortings]), class: 'general-back-link') do
      %i.fa.fa-long-arrow-left.mr-15
      =t("back_to_results")
  - else
    = link_to(cart_index_path, class: 'general-back-link') do
      %i.fa.fa-long-arrow-left.mr-15
      =t("back_to_results")
  
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag(@book.decorate.cover, class: 'img-responsive')
        = render 'images'
    
    .col-sm-6#book_info.mb-30
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.decorate.format_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= @book.decorate.price_in_currency
        = render 'order_item_form'

      .general-info-wrap.divider-lg
        %p= t("book.description")
        %p.lead.small.line-height-2#short_description
          = @book.decorate.short_description
          %a.in-gold-500.ml-10#full_description_show= t("read_more")
        %p.lead.small.line-height-2#full_description.hidden
          = @book.description
          %a.in-gold-500.ml-10#full_description_hide= t("read_less")
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("book.year")
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("book.dimensions")
          %p.lead.small.pull-right= @book.decorate.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("book.materials")
          %p.lead.small.pull-right= @book.materials.map(&:title).join(', ')
  
    - if customer_signed_in?
      = render(file: 'app/views/reviews/new')

    = render 'reviews'
