%main.container
  = link_to(:back, class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag(@book.decorate.cover, class: 'img-responsive')
        .images.clearfix
          - @book.decorate.additional_images.each do |image|
            %a.img-link{href: "#"}
              = image_tag(image.variant(resize: '150x150'), class: 'img-responsive')
    .col-sm-6#book_info.mb-30
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.decorate.format_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= @book.decorate.price_in_currency
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link
              %i.fa.fa-minus.line-height-40{onclick: "decrementQuantity()"}
            %input.form-control.quantity-input#quantity_input{type: "text", value: '1'}
            %a.input-link
              %i.fa.fa-plus.line-height-40{onclick: "incrementQuantity()"}
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2#short_description
          = @book.decorate.short_description
          %a.in-gold-500.ml-10#full_description_show Read More
        %p.lead.small.line-height-2#full_description.hidden
          = @book.description
          %a.in-gold-500.ml-10#full_description_hide Read Less
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= @book.decorate.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= @book.materials.map(&:title).join(', ')
  
    - if customer_signed_in?
      .mb-80
        %h3 Write a Review
        %p.general-info-text Score
        .mb-15
          %i.fa.fa-star.rate-empty
          %i.fa.fa-star.rate-empty
          %i.fa.fa-star.rate-empty
          %i.fa.fa-star.rate-empty
          %i.fa.fa-star.rate-empty  
          %form.row
            .col-md-8
              .mb-40
                .form-group
                  %label.control-label.input-label.in-grey-600{for: "title"} Title
                  %input#title.form-control{name:"title", type: "text"}
                .form-group
                  %label.control-label.input-label.in-grey-600{for: "review"} Review
                  %textarea#review.form-control{name:"review", type: "text"}
              .text-right
                %button.btn.disabled.mb-20 Post
    .mb-80
      - if @reviews
        %h3.in-gold-500.mb-25= "Reviews #{@reviews.size}"
        - @reviews.each do |review| 
          .general-message-wrap.divider-lg
            .clearfix
              %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.decorate.customer_initials
              .ml-70
                %div
                  .general-message-date.hidden-xs= review.created_at
                  .max-240
                    .general-message-name= review.decorate.customer_full_name
                .mb-15
                  - review.rating.times do
                    %i.fa.fa-star.rate-star
                  - (5 - review.rating).times do
                    %i.fa.fa-star.rate-empty  
                %p= review.body
